@import "partials/reset", "partials/fonts", "partials/variables", "partials/mixins", "partials/grid";

body,
html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--ff-primary);
	font-size: 62.5%;
	color: var(--c-black);
	@media (max-width: 321px) {
		font-size: 52.6315%;
	}
	@media (min-width: $bp-min-desktop-xxl) {
		font-size: 69.4445%;
	}
	@media (min-width: $bp-desktop-4k) {
		font-size: 128.453947368421053%;
	}
	@media (min-width: $bp-min-mobile-big) {
		overflow: auto !important;
	}
}

.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--c-primary);
	padding-inline: 4%;
	padding-top: 10vh;
	padding-bottom: 30vh;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--ff-secundary);
	font-size: 6rem;
	@media (max-width: $bp-mobile-big) {
		font-size: 4rem;
	}
	h3 {
		font-size: 0.36em;
		letter-spacing: 0.1em;
		text-align: center;
		color: var(--c-primary);
		padding: 0.2em 0.5em;
		background-color: var(--c-blau);
		border-radius: 10rem;
		transform: rotate(354deg);
	}

	h1 {
		margin-top: -0.3em;
		margin-bottom: 0.05em;
		padding-left: 0.16em;
	}

	h2 {
		font-size: 0.45em;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 0.6em;
	}

	h4 {
		text-align: center;
		font-family: var(--ff-primary);
		font-size: 0.3em;
		@media (max-width: $bp-mobile-big) {
			font-size: 0.32em;
		}
		img {
			max-width: 9.8em;
			margin-bottom: 0.25em;
		}
	}
}

.calendari {
	margin-top: 8em;
	ul {
		display: flex;
		flex-direction: column;
		align-items: center;

		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 0.2em;
			font-size: 2.4rem;
			@media (max-width: $bp-mobile-big) {
				font-size: 2rem;
			}
			margin-bottom: 1em;

			.hora {
				font-size: 0.65em;
				color: var(--c-white);
				padding: 0.3em 0.7em;
				border-radius: 1em;
				background-color: var(--c-red);

				.soldOut {
					font-weight: bold;
				}
			}

			.activitat {
				font-family: var(--ff-secundary);
			}

			p {
				font-size: 0.8em;
				line-height: 120%;
				text-align: center;
			}
		}
	}
}

.inscriute {
	margin-top: 8em;

	a {
		position: relative;
		font-size: 4em;
		color: var(--c-primary);
		background-color: var(--c-black);
		border-radius: 1em;
		padding: 0.6em 1.9em 0.7em 2.2em;
		&:hover {
			background-color: var(--c-red);

			color: white;
		}

		&::before {
			content: "";
			position: absolute;
			width: 2.75em;
			height: 100%;
			left: -0.7em;
			top: -0.8em;
			background: url(../imgs/dit.png) 0 0 no-repeat;
			background-size: cover;
			transform: rotate(19deg);
		}
	}
}

footer {
	margin-top: 9.6rem;

	p {
		font-size: 3em;
		text-align: center;
		line-height: 120%;

		&.logo {
			font-size: 5.6em;
		}

		a {
			text-decoration: underline;
		}
	}
}

.personatges_1 {
	position: fixed;
	bottom: -3px;
	left: 0;

	img {
		max-width: 36vw;
		@media (max-width: $bp-mobile-big) {
			max-width: 50vw;
		}
	}
}

.personatges_2 {
	position: fixed;
	bottom: -3px;
	right: 0;

	img {
		max-width: 36vw;
		@media (max-width: $bp-mobile-big) {
			max-width: 50vw;
		}
	}
}
