@charset "UTF-8";
* {
  box-sizing: border-box;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
hr,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video,
a {
  background: transparent;
  border: 0;
  font-weight: inherit;
  line-height: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: inline-block;
  position: relative;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

@font-face {
  font-family: "Söhne";
  src: url("../fonts/soehne-buch.ttf") format("ttf"), url("../fonts/soehne-buch.eot") format("eot"), url("../fonts/soehne-buch.woff") format("woff"), url("../fonts/soehne-buch.woff2") format("woff2"), url("../fonts/soehne-buch.svg") format("svg");
}
@font-face {
  font-family: "SöhneBreit";
  src: url("../fonts/soehne-breit-dreiviertelfett.ttf") format("ttf"), url("../fonts/soehne-breit-dreiviertelfett.eot") format("eot"), url("../fonts/soehne-breit-dreiviertelfett.woff") format("woff"), url("../fonts/soehne-breit-dreiviertelfett.woff2") format("woff2"), url("../fonts/soehne-breit-dreiviertelfett.svg") format("svg");
}
@font-face {
  font-family: "pokecode";
  src: url("../fonts/pokecode.ttf?hjasg") format("truetype"), url("../fonts/pokecode.woff?hjasg") format("woff"), url("../fonts/pokecode.svg?hjasg#pokecode") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "pokecode" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pokecode:before {
  content: "\e900";
}

.icon-decidim:before {
  content: "\e901";
  color: #f33;
}

.icon-pokecode-ico:before {
  content: "\e902";
}

.icon-burger:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-caret:before {
  content: "\e905";
}

.icon-arrow--left:before {
  content: "\e906";
}

.icon-arrow--right:before {
  content: "\e907";
}

.icon-twitter:before {
  content: "\e908";
}

.icon-decidim-ico:before {
  content: "\e909";
}

.icon-github:before {
  content: "\e90a";
}

.icon-facebook:before {
  content: "\e90b";
}

.icon-telegram:before {
  content: "\e90c";
}

:root {
  /* Font Family */
  --ff-primary: "Söhne", serif;
  --ff-secundary: "SöhneBreit", serif;
  /* Font Size */
  --fs-10: 1rem;
  --fs-11: 1.1rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-24: 2.4rem;
  --fs-32: 3rem;
  --fs-40: 4rem;
  --fs-72: 7.2rem;
  --fs-80: 8rem;
  /* Colors */
  --c-transparent: transparent;
  --c-black: #0f0d03;
  --c-white: #ffffff;
  --c-grey: #606364;
  --c-blau: #006cdd;
  --c-red: #f33150;
  --c-primary: #ffe233;
  --c-primary-hover: #670c0c;
  --c-primary-soft: #f9e7e7;
  --c-secundary: #f7f5e9;
  --c-secundary-soft: #c9f9f2;
  /* Margins */
  --mg-b-112: 16rem;
  /* Padding out & Marging out = 8rem */
  --pd-out: 4%;
  --mg-out: 4%;
  /* Grid column gap & Grid row gap */
  --gc-gap: 3.2rem;
  --gr-gap: 8rem;
}
@media (max-width: 812px) {
  :root {
    --fs-32: 2.4rem;
    --fs-40: 3.2rem;
    --fs-72: 4.2rem;
    --fs-80: 4.2rem;
  }
}
@media (min-width: 1920px) {
  :root {
    --fs-80: 9.6rem;
  }
}
@media (max-width: 812px) {
  :root {
    --mg-b-112: 6.4rem;
  }
}
@media (max-width: 812px) {
  :root {
    --pd-out: 2.4rem;
    --mg-out: 2.4rem;
  }
}
@media (max-width: 812px) {
  :root {
    --gc-gap: 3.2rem;
    --gr-gap: 0;
  }
}

body,
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-primary);
  font-size: 62.5%;
  color: var(--c-black);
}
@media (max-width: 321px) {
  body,
  html {
    font-size: 52.6315%;
  }
}
@media (min-width: 1920px) {
  body,
  html {
    font-size: 69.4445%;
  }
}
@media (min-width: 3408px) {
  body,
  html {
    font-size: 128.4539473684%;
  }
}
@media (min-width: 813px) {
  body,
  html {
    overflow: auto !important;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  padding-inline: 4%;
  padding-top: 10vh;
  padding-bottom: 30vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-secundary);
  font-size: 6rem;
}
@media (max-width: 812px) {
  header {
    font-size: 4rem;
  }
}
header h3 {
  font-size: 0.36em;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--c-primary);
  padding: 0.2em 0.5em;
  background-color: var(--c-blau);
  border-radius: 10rem;
  transform: rotate(354deg);
}
header h1 {
  margin-top: -0.3em;
  margin-bottom: 0.05em;
  padding-left: 0.16em;
}
header h2 {
  font-size: 0.45em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 0.6em;
}
header h4 {
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 0.3em;
}
@media (max-width: 812px) {
  header h4 {
    font-size: 0.32em;
  }
}
header h4 img {
  max-width: 9.8em;
  margin-bottom: 0.25em;
}

.calendari {
  margin-top: 8em;
}
.calendari ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendari ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2em;
  font-size: 2.4rem;
  margin-bottom: 1em;
}
@media (max-width: 812px) {
  .calendari ul li {
    font-size: 2rem;
  }
}
.calendari ul li .hora {
  font-size: 0.65em;
  color: var(--c-white);
  padding: 0.3em 0.7em;
  border-radius: 1em;
  background-color: var(--c-red);
}
.calendari ul li .hora .soldOut {
  font-weight: bold;
}
.calendari ul li .activitat {
  font-family: var(--ff-secundary);
}
.calendari ul li p {
  font-size: 0.8em;
  line-height: 120%;
  text-align: center;
}

.inscriute {
  margin-top: 8em;
}
.inscriute a {
  position: relative;
  font-size: 4em;
  color: var(--c-primary);
  background-color: var(--c-black);
  border-radius: 1em;
  padding: 0.6em 1.9em 0.7em 2.2em;
}
.inscriute a:hover {
  background-color: var(--c-red);
  color: white;
}
.inscriute a::before {
  content: "";
  position: absolute;
  width: 2.75em;
  height: 100%;
  left: -0.7em;
  top: -0.8em;
  background: url(../imgs/dit.png) 0 0 no-repeat;
  background-size: cover;
  transform: rotate(19deg);
}

footer {
  margin-top: 9.6rem;
}
footer p {
  font-size: 3em;
  text-align: center;
  line-height: 120%;
}
footer p.logo {
  font-size: 5.6em;
}
footer p a {
  text-decoration: underline;
}

.personatges_1 {
  position: fixed;
  bottom: -3px;
  left: 0;
}
.personatges_1 img {
  max-width: 36vw;
}
@media (max-width: 812px) {
  .personatges_1 img {
    max-width: 50vw;
  }
}

.personatges_2 {
  position: fixed;
  bottom: -3px;
  right: 0;
}
.personatges_2 img {
  max-width: 36vw;
}
@media (max-width: 812px) {
  .personatges_2 img {
    max-width: 50vw;
  }
}/*# sourceMappingURL=styles_landing.css.map */