// Slider
.pellicules #seccio-pelis,
.convidats #seccio-convidats {
	margin-top: 0 !important;
}
.swiper-navigation {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	gap: 1rem;
	top: -4rem;
	right: 0;
	@media (min-width: $bp-min-mobile-big) {
		top: -8rem;
		right: var(--pd-out);
	}
}

.swiper-pagination {
	position: relative !important;
	text-align: center;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: initial;

	font-size: var(--fs-16);
	line-height: 140%;

	margin-right: 1.6rem;

	display: flex;
	align-items: center;
	gap: 0.3rem;

	span {
		font-weight: 500;
		font-size: var(--fs-14);
		height: 100%;
		@media (min-width: $bp-min-mobile-big) {
			font-size: var(--fs-16);
		}
	}

	&-total {
		margin-left: 2px;
	}
}

.swiper-button-next,
.swiper-button-prev {
	position: relative !important;
	top: initial !important;
	right: initial !important;
	bottom: initial !important;
	left: initial !important;

	width: 100% !important;
	height: 100% !important;
	padding: 1rem;
	border-radius: 100%;
	// border: 1px solid var(--c-black);
	background-color: var(--c-primary);

	.icon {
		&.small {
			display: block;
		}
		&.medium {
			display: none;
		}
		&:before {
			font-size: var(--fs-18);
			color: var(--c-primary-btn);
			color: var(--c-black);
		}

		@media (min-width: $bp-min-mobile-big) {
			&.small {
				display: none;
			}
			&.medium {
				display: block;
			}
			&:before {
				font-size: var(--fs-40);
			}
		}
	}

	@include efecte-boto;

	&:hover {
		cursor: pointer;
		background-color: var(--c-black);

		.icon:before {
			color: var(--c-primary);
		}
	}
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	display: none;
}
