// Breackpoints
$bp-mobile: 414px;
$bp-min-mobile: 415px;
$bp-mobile-big: 812px;
$bp-min-mobile-big: 813px;
$bp-tablet: 768px;
$bp-min-tablet: 769px;
$bp-max-desktop: 1023px;
$bp-desktop: 1024px;
$bp-min-desktop: 1025px;
$bp-max-desktop-xl: 1439px;
$bp-desktop-xl: 1440px;
$bp-min-desktop-xl: 1441px;
$bp-desktop-xxl: 1919px;
$bp-min-desktop-xxl: 1920px;
$bp-desktop-4k: 3408px;
$bp-desktop-5k: 4080px;
// CSS Variables
:root {
	/* Font Family */
	--ff-primary: "Söhne", serif;
	--ff-secundary: "SöhneBreit", serif;
	/* Font Size */
	--fs-10: 1rem;
	--fs-11: 1.1rem;
	--fs-14: 1.4rem;
	--fs-15: 1.5rem;
	--fs-16: 1.6rem;
	--fs-17: 1.7rem;
	--fs-18: 1.8rem;
	--fs-24: 2.4rem;
	--fs-32: 3rem;
	--fs-40: 4rem;
	--fs-72: 7.2rem;
	--fs-80: 8rem;
	@media (max-width: $bp-mobile-big) {
		--fs-32: 2.4rem;
		--fs-40: 3.2rem;
		--fs-72: 4.2rem;
		--fs-80: 4.2rem;
	}
	@media (min-width: $bp-min-desktop-xxl) {
		--fs-80: 9.6rem;
	}
	/* Colors */
	--c-transparent: transparent;
	--c-black: #0f0d03;
	--c-white: #ffffff;
	--c-grey: #606364;
	--c-blau: #006cdd;
	--c-red: #f33150;

	--c-primary: #ffe233;
	--c-primary-hover: #670c0c;
	--c-primary-soft: #f9e7e7;
	// --c-secundary: #f8f8f5 ;
	--c-secundary: #f7f5e9;
	--c-secundary-soft: #c9f9f2;

	/* Margins */

	--mg-b-112: 16rem;
	@media (max-width: $bp-mobile-big) {
		--mg-b-112: 6.4rem;
	}
	/* Padding out & Marging out = 8rem */
	--pd-out: 4%;
	--mg-out: 4%;

	@media (max-width: $bp-mobile-big) {
		--pd-out: 2.4rem;
		--mg-out: 2.4rem;
	}

	/* Grid column gap & Grid row gap */
	--gc-gap: 3.2rem;
	--gr-gap: 8rem;

	@media (max-width: $bp-mobile-big) {
		--gc-gap: 3.2rem;
		--gr-gap: 0;
	}
}

@mixin efecte-link {
	display: inline;
	background-position: 100% 100%;
	background-size: 0 1px;
	transform-origin: right;
}

@mixin efecte-link--hover($color) {
	color: #{$color};
	background: transparent linear-gradient(90deg, #{$color} 50%, #{$color} 0) no-repeat;
	background-position: 0 100%;
	background-size: 100% 1px;
	transition: background-size 0.3s, color 0.3s;
}

@mixin adaptacio-img($pd-bottom) {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: #{$pd-bottom};
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
// Imatges
@mixin adaptar_img {
	-o-object-fit: cover;
	object-fit: cover;
}
// Text
@mixin adaptar_text {
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
